[Desktop Entry]
Encoding=UTF-8
Name=lliurex-xdg-user-dirs
Comment=lliurex-xdg-user-dirs
Exec=/usr/bin/01-xdg-user-mozilla-profile
Terminal=false
Type=Application
Categories=
GenericName=
X-GNOME-Autostart-Delay=10

