Source: lliurex-xdg-user-dirs
Section: gnome
Priority: extra
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Ignacio Vidal Hurtado <vidal_joshur@gva.es>, Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, David Montalva Furio <montalva_dav@gva.es>, Alfons Lloret Sananton <lliurex_devel5@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Jose Carlos Garcia Monsalvez <garcia_josmon@gva.es>, Jaime Munyoz Fayos <munyoz_jaifay@gva.es>, Francisco Antonino Daviu <antonino_fra@gva.es>, Miguel Garcia Gomez <garcia_miggom@gva.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4

Package: lliurex-xdg-user-dirs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, xdg-user-dirs, lliurex-base-files (>= 11.09.04)
Description: gives xdg-user-dirs-update functionality improved
 Improves the functionality of xdg-user-dirs-update adding support
 for UserFiles directory.
